$black--1: rgba(black, 0.95);
$black-0: rgba(black, 0.85);
$black-1: rgba(black, 0.65);
$black-2: rgba(black, 0.45);
$black-3: rgba(black, 0.25);
$white-0: rgba(#ffffff, 0.90);
$white-1: rgba(black, 0.03);
$white-2: rgba(black, 0.02);
$white-3: rgba(black, 0.01);

$brand: #FFBD00;

$like-green: rgba(87, 255, 162, 0.95);
$dislike-red: rgba(255, 59, 98, 0.95);
// $like-green: green;
// $dislike-red: red;