@use "./colors"as *;

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  width: 100%;
  height: 80%;
}

.media-holder {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.title-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    color: $white-1;
  }
}

img {
  width: auto;
  height: 100%;
  margin: 0;
}

.for-ani {
  height: 100%;
  width: 100%;
}

.transition-enter {
  opacity: 0.01;
  transform: translate(0, -10px);
}

.transition-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 300ms ease-in;
}

.transition-exit {
  opacity: 1;
  transform: translate(0, 0);
}

.transition-exit-active {
  opacity: 0.01;
  transform: translate(0, 10px);
  transition: all 300ms ease-in;
}