@use "./colors"as *;

.notification {
  transition-timing-function: ease-in;
  transition-duration: 0.3s;
  opacity: 0;
  z-index: 2;
  position: absolute;
  width: 60%;
  height: 8%;
  margin-left: -153px;
  left: 50%;
  top: 10%;
  max-width: 306px;
  max-height: 88px;
  background: $white--1;
  box-shadow: 0px 0px 40px -5px rgba(0, 0, 0, 0.73);
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.notification.active {
  opacity: 1;
}

@media(max-width: 375px) {
  .notification {
    margin-left: -30%;
  }
}

.check-circle-container {
  height: 2.5em;
  width: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;


  svg {
    height: 100%;
    width: 100%;
  }
}


.success {
  color: $black-0;
  border: 1px solid $success-green;
  border-left: 4px solid $success-green;

  .check-circle-container {
    color: $success-green;
  }
}


.error {
  color: $black-0;
  border: 1px solid $error-red;
  border-left: 4px solid $error-red;

  .check-circle-container {
    color: $error-red;
  }
}

.notification-text {

  margin-left: 1.3em;
}