// Mobile view made into just a general view for mvp

@media (max-width: 2400px) {

  #mobile-navbar {
    display: flex;
  }
}

@media (max-width: 450px) {

  .btn-like {
    position: fixed;
    left: 0;
    top: 50%;
  }

  .btn-dislike {
    position: fixed;
    right: 0;
    top: 50%;
  }
}