.btn {
  border-radius: 4em;
  background: transparent;
  border: 0;
  width: 4em;
  height: 4em;
}
.btn svg {
  height: 3em;
  width: 3em;
}

.btn-like {
  color: rgba(87, 255, 162, 0.95);
}

.btn-dislike {
  color: rgba(255, 59, 98, 0.95);
}

#mobile-navbar {
  width: 100%;
  height: 5em;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.95);
  clip-path: polygon(50% 0%, 100% 10%, 100% 100%, 0 100%, 0 10%);
}

#header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.95);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 90%, 0 100%, 0 0);
}

#settings-btn-container {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  width: auto;
  height: auto;
}

.menu-icon {
  width: 28px;
  height: 28px;
}

.menu-element {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.9);
}

.profile-route-btn {
  color: #5400ac;
}

.create-route-btn {
  color: #007f03;
}

.home-route-btn {
  color: #ffd800;
}

.notif-route-btn {
  color: #ff3d00;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  width: 100%;
  height: 80%;
}

.media-holder {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-holder p {
  color: rgba(255, 255, 255, 0.85);
}

img {
  width: auto;
  height: 100%;
  margin: 0;
}

.not-active {
  display: none;
}

#notification-container {
  height: 80%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: scroll;
}
#notification-container :first-child {
  border: none;
}

.notification-alert {
  flex-shrink: 0;
  height: 4em;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  border-top: 1px solid rgba(0, 0, 0, 0.85);
  color: rgba(255, 255, 255, 0.85);
}

.notification {
  z-index: 2;
  position: absolute;
  width: 80%;
  height: 10%;
  margin-left: -153px;
  left: 50%;
  top: 10%;
  max-width: 306px;
  max-height: 88px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 0px 40px -5px rgba(0, 0, 0, 0.73);
  border-radius: 2px;
}

@media (max-width: 375px) {
  .notification {
    margin-left: -40%;
  }
}
.check-circle-container {
  height: 3em;
  width: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.check-circle-container svg {
  height: 100%;
  width: 100%;
}

.success {
  color: rgba(0, 0, 0, 0.85);
  border: 1px solid rgba(0, 173, 17, 0.9);
  border-left: 4px solid rgba(0, 173, 17, 0.9);
}
.success .check-circle-container {
  color: rgba(0, 173, 17, 0.9);
}

.error {
  color: rgba(0, 0, 0, 0.85);
  border: 1px solid rgba(255, 65, 18, 0.9);
  border-left: 4px solid rgba(255, 65, 18, 0.9);
}
.error .check-circle-container {
  color: rgba(255, 65, 18, 0.9);
}

.notification-text {
  margin-left: 1.3em;
}

input[type=file] {
  opacity: 0;
}

.inputfile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.95);
  width: 100%;
  height: auto;
}

.inputfile:hover {
  cursor: pointer;
}

#select-file-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}
#select-file-btn svg {
  height: 3em;
  width: 3em;
}

#title-input {
  height: 5%;
  width: 60%;
  text-align: center;
  margin: auto;
  border: none;
}

.profile-view {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.follow {
  flex-shrink: 0;
  height: 4em;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  border-top: 1px solid rgba(0, 0, 0, 0.95);
  color: rgba(255, 255, 255, 0.85);
}
.follow img {
  max-width: 2em;
}
.follow p {
  margin-left: 1em;
}

#change-icon {
  padding: 5%;
  width: auto;
}

#profile {
  width: 90%;
  padding: 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
#profile svg {
  height: 2em;
  width: 2em;
  margin-left: 1em;
}

.profile-pane {
  padding: 5%;
  height: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-height: 30%;
  transition: max-height 0.2s ease-out;
}

#a:hover {
  max-height: 70%;
}

#b:hover {
  max-height: 70%;
}

.follow-container {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: scroll;
}
.follow-container :first-child {
  border: none;
}

p {
  margin: 0;
}

.login-and-register-container {
  height: 80%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.login-form {
  margin-top: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.login-form input {
  height: 3em;
}

.btn-login {
  color: rgba(255, 255, 255, 0.95);
}

@media (max-width: 2400px) {
  #mobile-navbar {
    display: flex;
  }
}
@media (max-width: 450px) {
  .btn-like {
    position: fixed;
    left: 0;
    top: 50%;
  }

  .btn-dislike {
    position: fixed;
    right: 0;
    top: 50%;
  }
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

#root {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app-wrapper {
  height: 100%;
  width: 100%;
  max-width: 450px;
  max-height: 840px;
}

#app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.85);
}

h1 {
  margin: 0;
  font-family: "Dancing Script", cursive;
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, purple);
  background-clip: text;
  color: transparent;
  font-size: 3em;
}

img {
  height: auto;
  max-width: 100%;
}

h2 {
  margin: 0;
  color: rgba(255, 255, 255, 0.9);
}

/*# sourceMappingURL=index.css.map */
